.page {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

@media screen and (min-width: 581px) and (max-width: 900px) {
  .page {
    min-width: 581px;
  }
}

@media screen and (min-width: 320px) and (max-width: 580px) {
  .page {
    width: 100%;
    min-width: 320px;
    max-height: 2814px;
    margin: 0 auto;
  }
}
